<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Library-Aggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Library-Device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Library-Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6C8C2D917B0C51900B76AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C8C2F117B0C57100B76AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C8C30617B0C64500B76AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C8C31817B0C72000B76AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C8C32217B0CFAB00B76AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
